@charset "utf-8";


header {
    background-color: #fff;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    padding: 15px 20px;
}

.fas {
    color: #777;
}

.contact_ui {
    display: inline-block;
    background-color: #6ba7eb;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.contact_ui:hover {
    color: #333;
}

.keyvisual {
    background-image: url(../images/keyvisual/keyvisual.jpg);
    background-size: cover;
    padding: 400px 0;
}

.keyvisual_content {
    text-align: center;
}

.keyvisual_title {
    font-size: 65px;
    font-weight: 700;
    color: #6ba7eb;
    padding-bottom: 30px;
}

.keyvisual_subtitle {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

.news img {
    width: 250px;
}

.news {
    background:#e3f2fd;
    display: flex;
    padding: 50px;
    text-align: center;
    justify-content: center;
    gap: 50px;
}

.news_content {
    padding-left: 50px;
}

.news_title {
    padding: 20px 0 35px 0;
    font-size: 40px;
    letter-spacing: 10px;
}

.news_text {
    font-size: 15px;
    line-height: 18px;
    word-break:break-all;
    width: 626px;
}

.skills {
    background: #fff;
    padding: 50px 0 50px 0;
}

.skills_title {
    font-size: 40px;
    letter-spacing: 10px;
    text-align: center;
    margin-bottom: 35px;
}

.skills_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    margin: 0 auto;
    max-width: 1100px;
}

.skills_item img {
    width: 300px;
    height: 300px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.skills_item img:hover {
    opacity: 1;
}

.plan {
    background: #d0dfea;
    padding: 50px 0 50px 0;
}

.plan_title {
    font-size: 40px;
    letter-spacing: 10px;
    padding-bottom: 50px;
    text-align: center;
}

.plan_table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

.plan_table th {
    background: #6ba7eb;
    font-size: 16px;
    line-height: 26px;
    border-left: 2px solid #fff;
    padding: 10px;
}

.plan_table th:first-child {
    border-left: none;
}

.plan_table td {
    font-size: 16px;
    line-height: 26px;
    padding: 10px;
}

.plan_name {
    font-weight: bold;
}

.plan_table tr:nth-child(odd) {
    background: #e0efff;
}

.plan_table tr:nth-child(even) {
    background: #f9f9f9;
}

.sns {
    background: #e3f2fd;
    padding: 200px 0;
}

.sns_content {
    text-align: center;
}

.fab {
    font-size: 40px;
    width: 185px;
    color: #8c8c8c;
    overflow: hidden;
    padding: 25px 0;
    transition: background-color 0.5s;
}

.sns .fas {
    font-size: 40px;
    width: 185px;
    color: #8c8c8c;
    overflow: hidden;
    padding: 25px 0;
    transition: background-color 0.5s;
}

.fab:hover,
.sns .fas:hover {
    background-color: #fff;
}

footer {
    background: #cfd8dc;
    padding: 25px 0;
}

.copy_right {
    font-size: 13px;
    letter-spacing: 0.5px;
    text-align: right;
    margin-right: 50px;
}

i.menu-icon {
    display: none;
}


/* TAB版 */
@media(max-width: 1199px) {
    .keyvisual {
        padding: 250px 0;
    }
    
    .news {
        padding: 50px 0;
        flex-direction: column;
        align-items: center;
    }

    .news img{
        width: 250px;
        margin: 0 auto;
    }

    .news_content {
        width: 100%;
        padding-left: 0;
    }

    .news_text {
        width: 96%;
        margin: 0 auto;
        font-size: 13px;
    }

    .skills_wrap {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .skills_item:nth-child(3n) {
        margin-bottom: 80px;
    }
}

/* SP版 */
@media(max-width: 767px) {
    .keyvisual {
        padding: 200px 0;
    }

    .keyvisual_title {
        font-size: 40px;
    }

    .keyvisual_subtitle {
        font-size: 30px;
    }
    
    .news {
        padding: 50px 0;
        flex-direction: column;
        align-items: center;
    }

    .news img{
        width: 250px;
        margin: 0 auto;
    }

    .news_content {
        width: 100%;
        padding-left: 0;
    }

    .news_text {
        width: 92%;
        margin: 0 auto;
        font-size: 14px;
    }

    .skills_wrap {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .skills_item:nth-child(3n) {
        margin-bottom: 80px;
    }

    .plan_table th{
        font-size: 14px;
        line-height: 22px;
    }

    .plan_table td {
        font-size: 12px;
    }

    .sns {
        padding: 50px 15px;
    }

    .sns_content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sns_content .fas,
    .sns_content .fab {
        padding: 50px 0;
    }

    .contact_content {
        display: none;
    }

    i.menu-icon {
        display: block;
        margin-left: auto;
        font-size: 40px;
        color: #9c9c9c64;
    }
}