@charset "utf-8";
.inner {
    width: 1100px;
    margin: 0 auto;
}

.contact {
    background: #fff;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.header--icon {
    padding: 5px 0;
}

.blue--btn {
    color: #fff;
    background-color: #689cc5;
    font-size: 16px;
    margin: 1em 1em;
    border: none;
}

.blue--btn:hover {
    color: #333;
    transition: 0.3s;
}

.keyvisual {
    background-image: url(../img/keyvisual/keyvisual.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 400px 0;
    text-align: center;
}

h1 {
    font-size: 65px;
    font-weight: 400;
    color: #90a6df;
}

.sub {
    font-size: 40px;
    font-weight: 100;
    color: #fff;
    padding-top: 30px;
}

.work {
    background: #e2eff8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pc--icon {
    width: 250px;
    margin: 50px 50px 0 50px;
}

h2 {
    font-size: 60px;
    letter-spacing: 10px;
    text-align: center;
    padding-top: 50px;
}

.work--title {
    padding-top: 20px;
}

.work--text {
    text-align: center;
    width: 60%;
}

.text {
    text-align: center;
    font-size: 16px;
    padding-top: 35px;
    word-break: break-all;
}

.flex--skills--item {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}

.skills--icon:nth-child(4+5+6) {
    margin-top: 100px;
}

.skills--icon {
    width: 300px;
    height: 300px;
    opacity: 0.7;
}

.skills--icon:hover {
    opacity: 1;
}

.skills--icon img {
    width: 100%;
    height: auto;
}

.plan {
    background: #cfdde6;
    padding-bottom: 50px;
}

.plan--area {
    padding: 50px 0 50px;
    text-align: center;
}

.cell--table {
    font-size: 16px;
    text-align: center;
    margin: auto;
    width: 80%;
    table-layout: fixed;
}

th {
    background: #6ba7ed;
}

th,
td {
    padding: 5px 0 5px;
    border: solid 1px #fff;
}

tr {
    background: #e0efff;
}

.plan--select {
    background: #698ff0;
}

.cell--table tr {
    background: #fff;
}

.cell--table tr:nth-child(even) {
    background: #deebf7;
}

.sns {
    padding-top: 200px;
    padding-bottom: 200px;
    background: #e2eff8;
    display: flex;
    justify-content: center;
    text-align: center;
}

a {
    padding: 25px 0;
    color: #7a7f80;
    font-size: 40px;
    width: 185px;
}

a:hover {
    color: #fff;
    transition: 0.5s;
}

footer {
    background: #cdd6dc;
    text-align: end;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 5px;
}


/* レスポンシブ対応（TAB） */

@media screen and (max-width: 1199px) {
    .inner {
        width: 97%;
    }
    .work {
        display: block;
    }
    .pc--icon {
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
    .work--title {
        margin: 0 auto;
        width: 100%;
    }
    .work--text {
        margin: 0 auto;
        width: 100%;
    }
    .flex--skills--item {
        display: block;
        margin: 0 auto;
        width: 30%;
    }
    .flex--skills--item:nth-child(3n) {
        margin-bottom: 80px;
    }
    h2 {
        margin: 0 auto;
        width: 100%;
    }
}


/* レスポンシブ対応（SP） */

@media screen and (max-width:767px) {
    .inner {
        width: 97%;
    }
    /* ハンバーガーメニュー */
    .blue--btn {
        /* ボタンの配置位置   */
        position: fixed;
        top: 32px;
        right: 16px;
        /* ボタンの大きさ  */
        width: 48px;
        height: 48px;
        /* 最前面に */
        z-index: 10;
        font-size: 0px;
        background-color: #7a7f80;
    }
    h1 {
        font-size: 40px;
    }
    .sub {
        font-size: 30px;
    }
    .work {
        flex-direction: row;
        width: 100%;
    }
    .flex--skills--item {
        display: block;
        margin-bottom: 0px;
    }
    th {
        font-size: 14px;
        line-height: 22px;
    }
    td {
        font-size: 12px;
    }
    .sns {
        position: relative;
    }
    .sns li {
        display: block;
    }
}